
.icon-comment:before { content: '\e800'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-ie:before { content: '\e843'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */